body { 
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ff0000;
}

.center {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin-top: 2px;
}

.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

.contact-form input[type=text] {
    height: 100px;

}

button {
    color: black;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}